ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: naavre-dev.minikube.test
      paths:
        - path: /my-root-path(/|$)(.*)
          pathType: ImplementationSpecific

conf:
  rootPath: /my-root-path
  virtual_labs_configuration:
    rawJson: |    
      {
        "vl_configurations": [
          {
            "name": "openlab",
            "base_image_tags_url": "https://github.com/QCDIS/NaaVRE-flavors/releases/latest/download/base_image_tags.json",
            "module_mapping_url": "https://raw.githubusercontent.com/QCDIS/NaaVRE-conf/main/module_mapping.json",
            "cell_github_url": "https://github.com/NaaVRE/cells-vl-tests.git",
            "cell_github_token": "TOKEN",
            "registry_url": "ghcr.io/naavre/cells-vl-tests"
          },
          {
            "name": "virtual_lab_2",
            "base_image_tags_url": "https://github.com/QCDIS/NaaVRE-flavors/releases/latest/download/base_image_tags.json",
            "module_mapping_url": "https://raw.githubusercontent.com/QCDIS/NaaVRE-conf/main/module_mapping.json",
            "cell_github_url": "",
            "cell_github_token": "",
            "registry_url": "https://registry.naavre.com"
          }
        ]
      }


env:
  OIDC_CONFIGURATION_URL: "https://<keycloak-host>/<keycloak-base-path>/realms/<realm>/.well-known/openid-configuration"
  CONFIG_FILE_URL: "/configuration.json"
