name: Collect tests

on:
  workflow_call:
    inputs:
      runs-on:
        default: ubuntu-latest
        type: string
      pytest_extra_options:
        default: ""
        type: string
env:
  DEBUG: ${{ inputs.debug }}

jobs:
  collect-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          miniforge-version: latest
          python-version: 3.11
          environment-file: environment.yaml
          activate-environment: naavre-containerizer-service
          use-mamba: true
          conda-remove-defaults: true

      #      - name: Cache Conda environment
      #        uses: actions/cache@v4
      #        with:
      #          path: ${{ env.CONDA }}/envs
      #          key: conda-environment-${{ runner.os }}-${{ hashFiles('environment.yaml') }}
      #          restore-keys: |
      #            conda-environment-${{ runner.os }}-
      #        id: cache-conda

      - name: pytest
        shell: bash -l {0}
        run: |
          conda activate naavre-containerizer-service
          mamba install -n naavre-containerizer-service -y -c conda-forge pytest
          pytest --collect-only -q app/tests ${{ inputs.pytest_extra_options }}
          pytest --collect-only -q app/tests ${{ inputs.pytest_extra_options }} | grep 'tests/' | sed 's/\([^:]*\)::\([^[]*\)\(\[.*\]\)\?/{"fullname": "\0", "module": "\1", "test": "\2", "parameter": "\3"}/g' | jq -s . > test_list.json
          cat test_list.json

      - name: Upload pytest output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: test_list
          path: test_list.json
