name: Gen config

on:
  workflow_call:
    inputs:
      configuration:
        required: true
        type: string
    secrets:
      cell_github_token:
        required: true

env:
  CONFIG_FILE_URL: /tmp/configuration.json

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: print environment variables
        run: |
          echo '${{inputs.configuration}}' \
            | jq '.vl_configurations[].cell_github_token |= "${{secrets.cell_github_token}}"'
            > "${{ env.CONFIG_FILE_URL }}"
          cat "${{ env.CONFIG_FILE_URL }}"